################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs

/bin/
/bin-intermediate/
/engine/vendors/glm/glm/out/build/x64-Debug/.cmake/api/v1/reply/index-2020-01-26T15-02-42-0978.json
*.user
*.filters
*.vcxproj
*.exe
/game-project.sln
/engine/vendors/glfw/bin
/engine/vendors/glfw/bin-int
/engine/vendors/imgui/bin
/engine/vendors/imgui/bin-int
/engine/vendors/glm/glm/out/build/x64-Debug/.ninja_deps
/engine/vendors/glm/glm/out/build/x64-Debug/.ninja_log
/engine/vendors/glm/glm/out/build/x64-Debug/.cmake/api/v1/reply
/default.config
application/asset/TopDownGunPack
application/imgui.ini
engine/vendors/glfw/src/out/build/
/enc_temp_folder/b7da9eaf7a2bfe7f387bfabcef0652a/Application.cpp
